<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Website</title>
    <!-- Additional header content goes here -->
</head>
<body>
<!-- Common header content goes here -->

<!-- Define the header fragment -->
<div th:fragment="warehouse_header">
    <div class="container my-2 px-3 py-3 text-center">
        <div class="mb-3">
            <a class="link-secondary link-underline-secondary link-opacity-75-hover link-offset-2 link-underline-opacity-0"
               id="link-main">
                <h1 id="warehouseName">[]</h1>
            </a>
        </div>
        <div class="mx-3">
            <a class="link-secondary link-underline-secondary link-opacity-75-hover link-offset-2 link-underline-opacity-0"
               id="link-items">
                <button class="btn  btn-warning my-1">Items</button>
            </a>
            <a class="link-secondary link-underline-secondary link-opacity-75-hover link-offset-2 link-underline-opacity-0"
               id="link-users">
                <button class="btn btn-warning my-1">Users</button>
            </a>
            <a class="link-underline-secondary link-opacity-75-hover link-offset-2 link-underline-opacity-0"
               id="link-history">
                <button class="btn  btn-warning my-1">History</button>
            </a>
            <a class="link-secondary link-underline-secondary link-opacity-75-hover link-offset-2 link-underline-opacity-0"
               id="link-tasks">
                <button class="btn  btn-warning my-1">Tasks</button>
            </a>

        </div>
        <script type="text/javascript" th:src="@{/warehouse_id_fragment.js}"></script>
    </div>
</div>

</body>
</html>
