<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="/api/v1" method="post">
        <label>
            Username
            <input type="text">
        </label>
        <label>
            FirstName
            <input type="text">
        </label>
        <label>
            SecondName
            <input type="text">
        </label>
        <label>
            Password
            <input type="text">
        </label>
        <label>
            Confirm Password
            <input type="text">
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>